<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title><%= @title %></title>
	</head>
	<body>
		<div id="container">
			<div id="header"> 			
			</div>
			<div id="content">
				<form action="results" method="get">
					<div class="input text"><input name="q" type="text" size="42" id="SearchQ" value="<%= h @q%>"/></div>
					<div class="submit"><input type="submit" value="search" /></div>
				</form>
				<%= yield %>
			</div>
			<div id="footer">
			</div>
		</div>
	</body>
</html>
